<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CRUD com Python</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Crud com Python</h1>
    </div>



    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="" class="btn btn-sucess">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                     <th scope="col">#</th>
                     <th scope="col">Categoria</th>
                     <th scope="col">Sabor</th>
                     <th scope="col">Tamanho</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                 </tr>
             </tbody>
        </table>
    </div>
</body>
</html>